@font-face {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    src: local('Cursed Timer ULiL'), url('https://fonts.cdnfonts.com/s/40642/CursedTimerUlil-Aznm.woff') format('woff');
}

body {
    margin: 0;
    background-color: #252735;
}

.container {
    display: flex;
    justify-content: space-around;
}

h3 {
    font-family: "Verdana";
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #EEEEEE;
    margin-bottom: 20px;
}

span {
    width: 117px;
    height: 120px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    text-align: center;
    color: #F94F6D;
    margin-top: 40px;
}

.board-title {
    width: 155px;
}

.score-card {
    display: flex;
    width: 155px;
    height: 120px;
    background-color: #080001;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.score-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
}

.btn {
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-family: 'Cursed Timer ULiL';
    color: #9AABD8;
    background-color: #252735;
}